
body {
    margin: 0;
    color: white;
    background-image: url('images/background.png');
    background-size: cover;
}

.carte {
    position: relative;
    width: 344px;
    height: 457px;

    &__inner{
        width: 100%;
        height: 100%;
        transition: transform 0.8s; // vitesse du flip
        transform-style: preserve-3d; // conserve les enfants en 3D
        position: relative;

    }
    
    

    &__front {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
        backface-visibility: hidden;

    }
    &__back {
        position: absolute;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100%;
        background-color: #FF7F2A;
        margin: 0;
        border-radius: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        transform: rotateY(180deg);
        backface-visibility: hidden;
    
    }
    &.is-flipped .carte__inner {
    transform: rotateY(180deg);
  }
}

.calendrier {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 24px;
    width: fit-content;
    margin: 32px auto;
    
}

h1 {
    text-align: center;
    padding-top: 32px;
    font-family: "DynaPuff", system-ui;
    font-size: 52px;
   
}

